table {
    border:1px solid grey;
    border-collapse: collapse;
}
table td {
    border: 1px solid black;
    padding: 5px;
}
table th {
    border: 1px solid black;
    padding: 3px;
    white-space: nowrap;
}
table th {
    border: 1px solid black;
    padding: 3px;
    background-color: cornflowerblue;
}

/**********  UPPER NAV BAR  **********/

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(228, 228, 228);
}
  
.navBarElement {
    float: left;
}
  
.navBarElement a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navBarElement a:hover {
    background-color: rgb(187, 187, 187);
}

.loginNavPos {
    float: right;
}

/************************************/